<style type="text/css">
#page {
  width: 800px;
  margin: 0 auto;
  border: 1px solid grey;
}
#page .menu {
 padding: 20px 0 0 40px; 
}
</style>
<div id="page">
  <div class="menu"><%= toolbawks_tags_menu %></div>
</div>